In [3]:
import pandas as pd

datapath ="C:/Users/HP/Desktop/ACADEMICS/final Sem 4.2/DataScience/dataScienceCode/concrete/conrete-data.csv" 
df = pd.read_csv(datapath)

In [2]:
df.columns = ['cement','blastFurnace','flyAsh','water','superplasticizer','courseAggregate','fineaggregate','age','strength']
df.head()

,cement,blastFurnace,flyAsh,water,superplasticizer,courseAggregate,fineaggregate,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   blastFurnace      1030 non-null   float64
 2   flyAsh            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   courseAggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   strength          1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [4]:
df .shape

(1030, 9)

In [5]:
df.duplicated().sum()

25

In [6]:
data = df.drop_duplicates()

In [7]:
data.duplicated().sum()

0

In [8]:
data.shape

(1005, 9)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [10]:
X = data.drop('strength', axis=1)

# Target variable 'y': The 'strength' column
y = data['strength']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
model = Lasso(alpha=1) 
model.fit(X_train, y_train)

Lasso(alpha=1)

In [24]:
print("Training set accuracy is : {:.2f}".format(model.score(X_train, y_train)))
print("Testing set accuracy is : {:.2f}".format(model.score(X_test, y_test)))

Training set accuracy is : 0.61
Testing set accuracy is : 0.58

In [13]:
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R-squared (R2) Score:", r2)

Mean Squared Error: 125.09554303210523
R-squared (R2) Score: 0.5806734624568195

In [14]:
#predicting the strength of the concrete using the model

new_data = pd.DataFrame({
    'cement': [350.0],
    'blastFurnace': [100.0],
    'flyAsh': [50.0],
    'water': [180.0],
    'superplasticizer': [10.0],
    'courseAggregate': [1000.0],
    'fineaggregate': [750.0],
    'age': [28]
})

# Make a prediction using the model
predicted_strength = model.predict(new_data)

print("Predicted Concrete Strength:", predicted_strength)

Predicted Concrete Strength: [44.82990513]

In [15]:
new_data = pd.DataFrame({
    'cement': [540.0],
    'blastFurnace': [0.0],
    'flyAsh': [0.0],
    'water': [162.0],
    'superplasticizer': [2.5],
    'courseAggregate': [1040.0],
    'fineaggregate': [676.0],
    'age': [28]
})

# Make a prediction using the model
predicted_strength = model.predict(new_data)

print("Predicted Concrete Strength:", predicted_strength)

Predicted Concrete Strength: [52.79391526]

In [16]:
df.head()

,cement,blastFurnace,flyAsh,water,superplasticizer,courseAggregate,fineaggregate,age,strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30